$grey: #333333;
$dark-grey: #666666;
$mid-grey: #999999;
$light-grey: #cccccc;
$very-light-grey: #ededed;

// MediaHub color schema
$color-black:   #000000;
$color-white:   #ffffff;
$color-red:     #e41b22;
$color-violet:  #320c36;
$color-green:   #56e39f;

$text-size-xs: 12px;
$text-size-sm: 13px;
$text-size-md: 15px;
$generic-border-radius: 3px;
$generic-box-shadow: 0 5px 30px 1px rgba(100, 100, 100, .2);
$news-popover-box-shadow: 0 5px 20px 1px rgba(100, 100, 100, .2);

$section-header-margin-top: 40px;
$section-margin-top: 15px;
$page-margin-top: 25px;

$card-small-margin-top: 20px;
$card-small-height: 214px;
$card-big-height: ($card-small-height * 2) + $card-small-margin-top;
$card-small-img-height: 128px;
$card-big-img-height: 235px;

$card-border-radius: 3px;

$categories-carousel-height: 100px;

// popup
$popup-width-sm: 400px;
$popup-width-md: 600px;
$popup-header-bg-color: white;
$popup-body-bg-color: #F6F7FB;

// bookmarks page
$bookmark-timeline-date-width: 12%;
$news-item-margin-bottom: 30px;


// new design style
$body-bg-color: #f2f2f2;