@import "_variables";
@import "blocks/_main";
@import "blocks/card";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $body-bg-color;

}

#wrapper {
  min-width: 1170px;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.outlined {
  outline: 1px #333 dotted;
}